<!doctype html>
<html lang="de">
	<head>
        <meta charset="utf-8">
		<title>Über uns</title>
        <link rel="stylesheet" href="Index.css">
		<meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header>
        <img id="loogo" src="images/logo.gif" alt="Logo">
            <p class="wichtig">ESSEN macht dich GLÜCKLICH</p>
            </header>
        <nav>
            <ul>
                <li class="nav"><a href="Index.html">Home</a></li>
                <li class="nav"><a href="Recipe.html">Rezept</a></li>
                <li class="nav"><a href="Survey.html">Umfrage</a></li>
            </ul>
        </nav>
        <main>
            <h1 class="ja">Über uns</h1>
        <p class="frage">Wer hat diesen Blog gemacht?</p>
        <section class="info">
            <h2 class="nuri">Nuri Son</h2>
            <img src="images/Nuri.jpg" alt="Nuri">

            <p class="Information">Hallo! Ich bin Nuri. Ich komme aus Südkorea und wohne in Berlin seit schon 3 Jahren. </p>
	        <p class="Information">Ich studiere Medieninformatik an der HTW Berlin und finde es ganz interessant.</p>
            <p class="Information">In meiner Freizeit koche ich sehr gern wie z.B koreanische oder italienische Essen.</p>
	        <p class="Information">Ich würde sehr gern gute Rezepte mit euch teilen. Hoffe unseren Blog für euch nützlich sein kann. </p>
	        <p class="mahlzeit">맛있게 드세요!!  </p>

        </section>
        <section class="info">
        <h2 class="eri">Hermes Rapce</h2>
            <img src="images/Hermes.jpg" alt="Hermes">
        <p class="Information">Hallo! Ich bin Hermes. Meine Herkunft ist Albanien und bin 20 Jahre alt.</p>
            <p class="Information">Ich studiere Medieninformatik an der HTW Berlin. Das Studium ist richtig interessant und entspannt. </p>
            <p class="Information">Normalerweise spiele ich Fusßball und mache Kraft-training in meiner Freizeit. Kochen mache ich gerne.  </p>
            <p class="Information">Ich werde mit euch Verschiedene Rezepte aus Albanien in unserem Blog teilen. Außerdem sind Rezepte aus ganzer Welt hier zu finden. </p>
            <p class="mahlzeit">Te Befte Mire!  </p>


        </section>
            </main>
    </body>
</html>
