<!doctype html>
<html lang="de">
	<head>
        <meta charset="utf-8">
		<title>Über uns</title>
        <link rel="stylesheet" href="stylesheet.css">
		<meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header>
        <img id="loogo" src="images/logo.gif" alt="Logo">
            <p class="wichtig">Zoom Speed Dating</p>
            </header>
        <nav>
            <ul>
                <li class="nav"><a href="">Home</a></li>
                <li class="nav"><a href="">register</a></li>
            </ul>
        </nav>
        <main>
            

        <section class="info">


        </section>
        <section class="info">



        </section>
            </main>
    </body>
</html>
