<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZoomSpeedDating</title>
    <link rel ="stylesheet" href="./public/css/style.css">
</head>
<body>
<div class="header">
<div class="container">
  <div class="navbar">
    <div class="logo">

    </div>
    <nav>
      <ul>
        <li><a href="https://github.com/markussite/Zoom-Speed-Dating">Our Projekt </a></li>
        <li><a href="">Register</a></li>
        <li><a href="">Create Profile</a></li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-2">
      <h1>epsum eron normin</h1>
      <a href="" class="btn">test</a>
  </div>
  <div class="col-2">

  </div>
</div>
</div>

</div>

</body>
</html>
