<form action="/usersRegister/create" method="post">
  <label for="inputname">Name</label>
  <input type="text" name="name" id="inputName" placeholder="Name" autofocus>
  <br>
  <label for="inputEmail">Email address</label>
  <input type="email" name="email" id="inputEmail" placeholder="Email address" required>
  <br>
  <label for="inputPassword">Password</label>
  <input type="password" name="password" id="inputPassword" placeholder="password" required>
  <br>
  <label for="inputHobbys">Hobbys</label>
  <input type="text" name="hobbys" id="inputHobbys">
  <br>
  <input type="submit" value="Submit">
</form>
