<h1>UserRegister Date for <%=registerUser.name %></h1>
<p> This User has <%= registerUser.hobbys.lenght %> associated hobby(s)</p>
<table>
    <tr>
      <th>Name</th>
      <td>
        <%=registerUser.name %>
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%=registerUser.email%></td>
    </tr>
    <tr>
</table>
