<form action="/users/create" method="post">
  <label for="inputname">Name</label>
  <input type="text" name="name" id="inputName" placeholder="Name" autofocus>
  <br>
  <label for="inputEmail">Email address</label>
  <input type="email" name="email" id="inputEmail" placeholder="Email address" required>
  <br>
  <label for="inputGeschlecht">Geschlecht</label>
  <input type="text" name="geschlecht" id="inputGeschlecht">
  <br>
  <label for="inputAlter">Alter</label>
  <input type="text" pattern=[12-99]{2} name="alter" id="inputAlter">
  <br>
  <label for="inputHobbys">Hobbys</label>
  <input type="text" name="hobbys" id="inputHobbys">
  <br>
  <label for="inputInteressiert">Interessiert in</label>
  <input type="text" name="interessiert" id="inputInteressiert">
  <br>
  <label for="inputWohnort">Wohnort</label>
  <input type="text" name="wohnort" id="inputWohnort">
  <br>
  <label for="inputReligion">Religion</label>
  <input type="text" name="religion" id="inputReligion">
  <br>
  <input type="submit" value="Submit">
</form>
